<div style="float: left;padding-right:10px; ">
<a href="https://github.com/AngeloEyez/Matriz-MatrixBOMTool/releases"><img src="https://img.shields.io/github/downloads/AngeloEyez/Matriz-MatrixBOMTool/total.svg"></a>
<a href="https://github.com/AngeloEyez/Matriz-MatrixBOMTool/releases"><img src="https://img.shields.io/github/release/AngeloEyez/Matriz-MatrixBOMTool/all.svg"></a>
<a href="https://github.com/AngeloEyez/Matriz-MatrixBOMTool/releases"><img src="https://img.shields.io/github/release-date-pre/AngeloEyez/Matriz-MatrixBOMTool.svg"></a>
</div>